<body>
<div class="navbar">
  <a href="/firstView"><img src="assets/pictures/home.png"  class="first_img"></a>
  <a><img src="assets/pictures/user.png" class="second_img"></a>
</div>
<div class="main">
  <img src="assets/pictures/plant.png" width="42px" height="42px">
  <div class="text"> Miejsce: aiusdhiua <br>
  Sadzonka: aoshdoia</div>
  <button class="plant_button">Zasadź</button>

  <img src="assets/pictures/plant.png" width="42px" height="42px">
  <div class="text"> Miejsce: aiusdhiua <br>
    Sadzonka: aoshdoia</div>
  <button class="plant_button">Zasadź</button>

  <img src="assets/pictures/plant.png" width="42px" height="42px">
  <div class="text"> Miejsce: aiusdhiua <br>
    Sadzonka: aoshdoia</div>
  <button class="plant_button">Zasadź</button>
</div>

</body>
