<body>
<div class="navbar">
  <a href="/fourthView"><img src="assets/pictures/arrow.png"  class="first_img"></a>
  <a><img src="assets/pictures/user.png" class="second_img"></a>
</div>
<div class="main">
  <h1>
    Wybrane miejsce:
  </h1>
  <h3>
    adres: ul. Naramowicka 13, <br>
    Poznań <br>
    parking przy Lidlu
  </h3>
  <p>
    Adres punktu odbioru sadzonki: <br>
    Pułaskiego 43, Poznań
  </p>
</div>
<div class="bottombar">
  <a href="/seventhView">
    <h2>
      Zasadź drzewo!
    </h2>
  </a>
</div>
</body>
