<body>
<div class="navbar">
  <a href="/secondView"><img src="assets/pictures/arrow.png"  class="first_img"></a>
  <a><img src="assets/pictures/user.png" class="second_img"></a>
</div>
<div class="main">
 <h1>
   Wybrane miejsce:
 </h1>
  <h3>
    adres: ul. Naramowicka 13, <br>
    Poznań <br>
    parking przy Lidlu
  </h3>
  <p>
    <a href="/fourthView"><button class="plant_button"> Kup sadzonkę</button></a>
  </p>
</div>
<div class="bottombar">
  <a href="/fifthView">
    <h2>
      Kontynuuj bez sadzonki
    </h2>
  </a>
</div>
</body>
